*{
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    /* //background-color: purple; */
}

.container{
    display: flex;
}

aside{
    width: 50vh;
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    height: 100vh;
    background-color: beige;
}

/* aside */
.logo {
    padding: 20px;
    font-size: 35px;
}
.board-container{
    display: flex;
    flex-direction: column;
}

#board-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
#board-btn>button,#create-board-btn,#modal-create-board,#add-task-btn,#modal-create-task{
    width: 220px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
}
#create-board-btn{
    margin-left: 20px;
    margin-top: 10px;
}
#all-boards
{
    margin-left: 20px;
}
#modal-create-board{
margin-top: 10px;
}

/* main */
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.task-container{
    display: flex;
}

.task-container > div {
    flex-grow: 1;
    /* border: 1px solid black; */
    padding: 10px;
}

#todo-container, #doing-container,#done-container{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.card{
flex-grow: 1;
margin-top: 10px;
height:50px;
padding:15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
